[user]
	name = Jan Lucas Reitz
	email = reitz@mmi.rwth-aachen.de

[alias]
	graph = log --all --graph --pretty=format:'%C(auto)=%h%C(auto)%d %s %C(dim, white)(%aN, %ar)'

[core]
	editor = vim

[pull]
	rebase = true
